<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
<br/>
<form th:method="GET" th:action="@{/orderItems/}">
    <input type="submit" value="Заявки"/>
</form>

<br/>
<form th:method="GET" th:action="@{/cars/}">
    <input type="submit" value="Автомобили"/>
</form>

<br/>
<form th:method="GET" th:action="@{/customers/}">
    <input type="submit" value="Заказчики"/>
</form>

<br/>
<form th:method="GET" th:action="@{/places/}">
    <input type="submit" value="Точки погрузки"/>
</form>




</body>
</html>