<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание заявки</title>
</head>
<body>

<form th:method="POST" th:action="@{/orderItems}" th:object="${orderItem}">
    <label>Выберите заказчика:</label>
    <select th:field="*{customer.id}">
        <div th:each="customer : ${customers}">
            <option th:value="${customer.getId()}" th:text="${customer.getName()}">customerName</option>
        </div>
    </select>
    <br/>

    <label>Выберите место погрузки:</label>
    <select th:field="*{place.id}">
        <div th:each="place : ${places}">
            <option th:value="${place.getId()}" th:text="${place.getAddress()}">placeAddress</option>
        </div>
    </select>
    <br/>

    <label>Выберите автомобиль:</label>
    <select th:field="*{car.id}">
        <div th:each="car : ${cars}">
            <option th:value="${car.getId()}" th:text="${car.getModel() + ', ' + car.getCapacity()}">carInfo</option>
        </div>
    </select>
    <br/>

    <label for="cargoWeight">Введите вес груза:</label>
    <input type="text" th:field="*{cargoWeight}" id="cargoWeight"/>
    <br/>


    <label for="note">Введите примечание:</label>
    <input type="text" th:field="*{note}" id="note"/>
    <br/>

    <input type="submit" value="Создать">
</form>
</body>
</html>