<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание автомобиля</title>
</head>
<body>

<form th:method="POST" th:action="@{/cars}" th:object="${car}">
    <label for="model">Введите модель:</label>
    <input type="text" th:field="*{model}" id="model"/>
    <br/>
    <label for="capacity">Введите грузоподъёмность:</label>
    <input type="text" th:field="*{capacity}" id="capacity"/>
    <br/>

    <input type="submit" value="Создать">
</form>
</body>
</html>