<html>
<body>
    <div>
        <form method="post">
            <input type="text" name="idCustomer" placeHolder="Введите id заказчика"/>
            <input type="text" name="idPlace" placeHolder="Введите id места"/>
            <input type="text" name="cargoWeight" placeHolder="Введите вес груза"/>
            <input type="text" name="note" placeHolder="Введите примечание">
            <button type="submit">Добавить</button>
        </form>
    </div>

    <div>Введите дату для поиска заявки</div>
    <form method="post" action="filter">
        <input type="text" name="orderCreationDate">
        <button type="submit">Найти</button>
    </form>

    <div>Список заявок</div>
    {{#orders}}
        <div>
            <b>{{id}}</b>
            <i>{{idCustomer}}</i>
            <i>{{idPlace}}</i>
            <span>{{cargoWeight}}</span>
            <span>{{creationDate}}</span>
            <span>{{status}}</span>
            <span>{{note}}</span>
        </div>
    {{/orders}}
</body>
</html>